:root {
  --accent-bg: #66869f;
}

@font-face {
  font-family: 'Avenir';
  src: url('./assets/Avenir-Medium.ttf') format('truetype');
}

* {
  font-family: 'Avenir' !important;
}

body {
  background-image: url('https://wallpapers.wallhalla.com/vaDwJNrS7AE_6qTPOL9_22c509b2/aHR0cHM6Ly9hbHBoYS53YWxsaGF2ZW4uY2Mvd2FsbHBhcGVyLzYzOTQ0MQ==');
}

div#titlebar {
  font-size: 5em;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
}

#app-container {
  margin-left: 1em;
  margin-right: 1em;
}

.change-month {
  background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 3em;
}

#month-label {
  font-size: 2em;
  font-family: 'Lobster', cursive;
  color: white;
}

div#cal-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#month-label-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 32%;
}

#month-label-container h2 {
  text-align: center;
}

.cal-control {
  margin-left: 5em;
  margin-right: 5em;
}

div#custom-cal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* margin: auto; */
  justify-content:center;
  padding-bottom: 2em;
}

div.col {
  width: 13%;
  height: 85px;
  margin: 3px;
}

div.day-of-week {
  height: auto;
  color: white;
  justify-content: center;
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
}

div.in-month {
  background-color: rgb(0,0,0,0.7);
}

@keyframes color_change {
  from {background-color: rgb(10,10,10,0.7);}
  to {background-color: rgb(255,255,255,0.9);}
}

@keyframes color_change_number {
  from {color: rgb(255,255,255,0.9);}
  to {color: rgb(10,10,10,0.9);}
}

div.in-month:hover {
  background-color: rgb(255,255,255,1);
  border-radius: 0%;
  transition: all .3s ease-in;
  cursor: pointer;
}

div.in-month:hover > div > span {
  color: black;
}

div.date-num {
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px;
  background-color: var(--number-bg);
}

.clicked {
  animation: color_change 0.7s infinite alternate;
}

.clicked > div > span {
  animation: color_change_number 0.7s infinite alternate;
}

.shrunk > .date {
  height: auto;
}

#date-detail-container {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  flex-direction: row;
  /* margin: auto; */
  /* justify-content: ; */
}

.detail-item {
  max-width: 12%;
  /* width: 100px; */
  padding: 1em;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-right: 1em;
}

div.btn.detail-item {
  font-size: 1.5em;
  text-align: center;
}

div.event-card {
  max-width: 12%;
  /* height: 50px; */
  background-color: white;
  margin: 1em;
  margin-left: 3px;
  margin-right: 3px;
}

div.event-card > p {
  padding-left: 1em;
  padding-right: 1em;
}

#new-event-form {
  background-color: white;
  max-width: 40%;
  cursor: unset;
}

.event-count {
  text-align: center;
  display: inline-block;
}

.event-count > span {
  border: 1px solid white;
  /* border-radius: 200%; */
  color: white;
  font-size: 0.9em;
  padding: 0 0.5em 0 0.5em;
}
