#my-calendar {
  margin-left: auto;
}

table {
  margin: auto !important;
}

input {
  margin: auto;
}

div#custom-cal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

div.col {
  width: 14%;
  height: 100px;
  background-color: lightgrey;
  border: 1px dashed white;
}

div.day-of-week {
  height: auto;
  color: white;
  background-color: grey;
  border: none;
  padding-left: 2px;
  justify-content: center;
  font-size: 2em
}

div.date:hover {
  background-color: grey;
  transition: all .2s ease-in;
}

div.date-num {
  background-color: red;
  color: white;
  border-radius: 20%;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}
